#display-middle-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}

html {
    overflow: hidden;
}

.form-scrolling {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-scrolling::-moz-selection {
    background: #FFF5B8;
    display: block;
}
.form-scrolling::-webkit-scrollbar-track {
    background-color: #eeeeee;
}
.form-scrolling::-webkit-scrollbar {
    width: 8px;
    background-color: #cccccc;
}
.form-scrolling::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border: none;
}
.form-scrolling .control {
    margin: 0 15px 10px 0;
    vertical-align: middle;
}

.padding-right-10 {
    padding-right: 10px;
}
