.padding-right-10 {
  padding-right: 10px;
}

/*.box-body {
	min-height: 220px;
}*/

.modal-content iframe {
    @include transition(all .3s ease-in-out);
}
.modal-footer {
	text-align: center;
}

.requiredStar::before {
  	color: red;
  	content: "*";
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #fff;
}

textarea {
	resize:vertical;
}
